<div class="row">
  <div class="col-lg-4" style="border: 2px solid black;">
    <form [formGroup]="addEmployeeForm">
      <div class="form-group">
        <h3><u><i>Employee Form</i></u></h3>

        <label>employeeName:</label>
        <input class="form-control" type="text" placeholder="Enter emploeeName" formControlName="employeeName"
          [ngClass]="{'is-invalid': submitted == true && f['employeeName'].invalid}">
        <div *ngIf="submitted==true && f['employeeName'].invalid" class="invalid-feedback">
          fullName is required
        </div>
      </div>

      <div class="form-group">
        <label>mobileNo:</label>
        <input  class="form-control" type="text" placeholder="Enter mobileNo" formControlName="mobileNo"
        [ngClass] ="{'is-invalid': submitted == true && f['mobileNo'].invalid}">
        <div *ngIf="submitted==true && f['mobileNo'].invalid" class="invalid feedback">

        <div *ngIf=" f['mobileNo'].errors.required">

          <p style="color: red;">mobileNo is required</p>
        </div>

        <div *ngIf="submitted==true && addEmployeeForm.controls['mobileNo'].errors.minlength">
         <p style="color: red;"> please..enter min 7 digit no.</p>
        </div>

        <div *ngIf="submitted==true && f['mobileNo'].errors.maxlength">
        <p style="color: red;">  please..enter min 10 digit no.</p>

        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-primary" *ngIf="submitVisible == true" (click)="submit()">submit</button>
      <button type="update" class="btn btn-warning" *ngIf="submitVisible == false" (click)="update()">Update</button>
    </form>
  </div>


  <div class="col-lg-8" style="border: 2px solid black;">

    <h3 style="text-align: center;"><u><i>Employee List</i></u></h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>employeeName</th>
          <th>mobileNo</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeList; let i=index">
          <td>{{item.employeeName}}</td>
          <td>{{item.mobileNo}}</td>
          <td><button type="button" class="btn btn-success" (click)="edit(i)">edit <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg></button>
            <button type="button" class="btn btn-secondary" (click)="delete(i)"> delete <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>