
    <div class="row" >
      <div class="col-lg-12" style="border: 2px solid black;" >
        <div class="row">
      <div class="col-lg-4"  >
        <form [formGroup]="addstatementForm">
        <div class="form-group">
           <h3><u><i>Statement Form</i></u></h3>
           
           <label>txndate:</label>
           <input type="text" class="txnDate"placeholder="Enter txnDate"  formControlName="txnDate">
         </div>
         
         <div class="form-group">
           <label>chequeno:</label>
           <input type="text" class="chequeNo" placeholder="Enter chequeNo" formControlName="chequeNo">
         </div>
  
         <div class="form-group">
           <label>debit:</label>
           <input type="text" class="debitAmount" placeholder="Enter debitAmount " formControlName="debitAmount">
         </div>
  
         <div class="form-group">
          <label>credit:</label>
          <input type="text" class="creditAmount" placeholder="Enter creditamount "formControlName="creditAmount">
        </div>
        
        
        <div class="form-group">
          <label>balance:</label>
          <input type="text" class="balance" placeholder="Enter balance "formControlName="balance">
        </div>
        
  
  
       <button type="submit" class="btn btn-primary" *ngIf="submitVisible3 == true" (click)="submit3()" >Submit</button>
       <button type="update" class="btn btn-warning" *ngIf="submitVisible3 == false" (click)="update3()">Update</button>
      </form>
    </div>
  
    <div class="col-lg-8" style="border: 2px solid black" > 
  
     <h3 style="text-align: center;"><u><i>Statement List</i></u></h3>     
    <table class="table table-bordered" >
     <thead>
     <tr>
    <th>txnDate</th>
     <th>chequeNo</th>
     <th>debitAmount</th>
     <th>creditAmount</th>
     <th>balance</th>
       <th>action</th>
   
      </tr>
     </thead>
     <tbody>
     <tr *ngFor="let item of statementList; let i=index">
      <td>{{item.txnDate}}</td>
      <td>{{item.chequeNo}}</td>
      <td>{{item.debitAmount}}</td>
      <td>{{item.creditAmount}}</td>
      <td>{{item.balance}}</td>
       <td><button type="button" class="btn btn-success" (click)="edit3(i)">edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
       <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
       <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
     </svg></button>
      <button type="button" class="btn btn-secondary" (click)="delete3(i)">delete <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
       <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
     </svg></button>
       </td>
      </tr>
     </tbody>
     </table>
    </div>
   </div>
  
  </div>
</div>